name: Deploy Java Web App

on:
  workflow_dispatch: # Manually triggered workflow

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v2

      # Install Azure CLI
      - name: Install Azure CLI
        run: |
          curl -sL https://aka.ms/InstallAzureCLIDeb | sudo bash

      - name: Set Cloud Provider to Azure
        id: provider
        run: echo "::set-output name=provider::azure"
          
      - name: Azure Login
        uses: azure/login@v1
        with:
          creds: |
            {
              "clientId": "e12a2d0e-c7a8-497a-9c6a-f6feb27b10ac",
              "clientSecret": "~Ik8Q~u1dpSqwite8M6b-y4doLRhIEZPVpcmFcx4",
              "subscriptionId": "fafa58df-5f3a-4423-91ba-552d42b280dd",
              "tenantId": "ce3685eb-9b4e-4652-a942-7ea5cda9e6c0"
            }
      - name: Retrieve Azure App Service Publish Profile
        if: ${{ steps.provider.outputs.provider == 'azure' }}
        run: |
          az webapp deployment list-publishing-profiles \
            --name java-aws-azure-my-app-service \
            --resource-group azure_aws_task \
            --query "[?contains(profileName, 'FTP')].[publishUrl, userName, userPWD]" \
            --output tsv > appservice.publishsettings
            
      - name: Deploy Java Web App to Azure
        if: ${{ steps.provider.outputs.provider == 'azure' }}
        run: |
          cd java-web-app
          mvn clean install
          # Replace these commands with your deployment steps using Azure CLI
          # For instance:
          # - az webapp create ...
          # - az webapp deploy ...
      - name: Upload artifact for deployment job
        if: ${{ steps.provider.outputs.provider == 'azure' }}
        uses: actions/upload-artifact@v2
        with:
          name: java-app
          path: 'java-web-app/target/*.jar'

      - name: Deploy Java Web App to Azure
        if: ${{ steps.provider.outputs.provider == 'azure' }}
        run: |
          cd java-web-app
          mvn clean install

          az webapp deploy \
            --name java-aws-azure-my-app-service \
            --resource-group azure_aws_task \
            --src 'java-web-app/target/*.jar' \
            --type jar
