name: Deploy Java Web App

on:
  workflow_dispatch: # Manually triggered workflow

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Ask for Cloud Provider
        id: provider
        run: |
          echo "::set-output name=provider::$selected_provider"

      - name: Checkout Repository
        uses: actions/checkout@v2

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v1

      - name: Terraform Init & Apply
        run: |
          provider=${{ steps.provider.outputs.provider }}
          if [ "$provider" = "aws" ]; then
            cd aws
          elif [ "$provider" = "azure" ]; then
            cd azure
          else
            echo "Invalid provider selected. Please choose 'aws' or 'azure'."
            exit 1
          fi
          terraform init
          terraform apply -auto-approve
        working-directory: ${{ steps.provider.outputs.provider }}

      - name: Deploy Java Web App to Azure
        if: ${{ steps.provider.outputs.provider == 'azure' }}
        run: |
          cd java-web-app
          mvn clean install
          # Adjust the deploy command as per your specific deployment process
          # Example:
          # - az login
          # - az webapp create ...
          # - az webapp deploy ...

      - name: Upload artifact for deployment job
        if: ${{ steps.provider.outputs.provider == 'azure' }}
        uses: actions/upload-artifact@v2
        with:
          name: java-app
          path: '${{ github.workspace }}/java-web-app/target/*.jar'

      - name: Deploy to Azure Web App
        if: ${{ steps.provider.outputs.provider == 'azure' }}
        uses: azure/webapps-deploy@v2
        with:
          app-name: ${{ steps.terraform.outputs.azure_web_app_name }}
          slot-name: 'Production'
          publish-profile: ${{ secrets.AZUREAPPSERVICE_PUBLISHPROFILE_D22C4CDE61E3434EA952E27D09520BD4 }}
          package: '*.jar'
