name: Deploy Java Web App

on:
  workflow_dispatch: # Manually triggered workflow

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v2

      - name: Set Cloud Provider to Azure
        id: provider
        run: echo "::set-output name=provider::azure"
          
      - name: Install Azure CLI
        uses: azure/CLI@v1
        with:
          azcliversion: 2.30.0

      - name: Azure Login
        uses: azure/login@v1
        with:
          creds: |
            {
              "clientId": "e12a2d0e-c7a8-497a-9c6a-f6feb27b10ac",
              "clientSecret": "~Ik8Q~u1dpSqwite8M6b-y4doLRhIEZPVpcmFcx4",
              "subscriptionId": "fafa58df-5f3a-4423-91ba-552d42b280dd",
              "tenantId": "ce3685eb-9b4e-4652-a942-7ea5cda9e6c0"
            }

      - name: Deploy Java Web App to Azure
        if: ${{ steps.provider.outputs.provider == 'azure' }}
        run: |
          cd java-web-app
          mvn clean install
          # Replace these commands with your deployment steps using Azure CLI
          # For instance:
          # - az webapp create ...
          # - az webapp deploy ...

      - name: Upload artifact for deployment job
        if: ${{ steps.provider.outputs.provider == 'azure' }}
        uses: actions/upload-artifact@v2
        with:
          name: java-app
          path: 'java-web-app/target/*.jar'

      - name: Deploy to Azure Web App
        if: ${{ steps.provider.outputs.provider == 'azure' }}
        uses: azure/webapps-deploy@v2
        with:
          app-name: 'your-azure-web-app-name'
          slot-name: 'Production'
          publish-profile: ${{ secrets.AZURE_WEBAPP_PUBLISH_PROFILE }}
          package: '*.jar'
